* {
    border: 1px solid green;
}


body{
    margin: 0;
    padding: 0;
    
    background-color: black;
}


h1 {
    text-align: center;
}

p {
    max-width: 50%;
    position: relative;
    display: inline-block;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: darkorchid;
}

#centerDiv{
    background-color: rgba(255, 170, 25, 1.0);
    
    position: relative;
    width: 60%;
    left: 20%;
    min-height: 600px;
    
}

#candyBallz{
    max-width: 45%;
    display: inline-block;
    position: relative;
    
    top: 10px;
}